div#decody_editor{
  textarea {
    height: 20em;
    width: 95%;
    margin-bottom: 1em;
  }
  select {
    display: block;
    margin-bottom: 1em;
  }
  button {
    display: block;
    margin-bottom: 1em;
  }
}
div#results{
  border: 1px solid #CCC;
  width: 95%;
  padding-left: 0.5em;
  .warn { color: red; font-weight: bold }
}